@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  color: #2c3e50;
  margin: 80px 10px;
}

#callButton{
  background-color: lightblue;
  color: black;
}

#answerButton{
  background-color: green;
  color:black;
}

#hangupButton{
  background-color: red;
  color: black;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  background:grey;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
